tqdm==4.64.1
scipy==1.11.2
numpy==1.24.4
psutil==5.9.5
xatlas==0.0.7
torch_ema==0.3
gradio==3.41.2
imageio==2.9.0
packaging==23.1
tinycudann==1.7
PyMCubes==0.1.4
matplotlib==3.7.1
nvdiffrast==0.3.1
diffusers==0.18.0
setuptools==62.3.4
torch==2.0.1+cu118
scikit_learn==1.3.0
transformers==4.26.0
tensorboardX==2.6.2.2
opencv_python==4.5.5.64
pymeshlab==2022.2.post4
opencv_contrib_python==4.7.0.72
opencv_python_headless==4.8.0.74